fastapi
uvicorn
langchain-openai>=0.1.0
pydantic
python-dotenv
openai
qdrant-client==1.17.1
requests
sqlalchemy
pymysql
PyPDF2
pdfplumber>=0.10.0
python-docx>=1.1.0
python-multipart
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
redis>=5.0.0
